# Compilação do .NET
bin/
obj/

# Arquivos de usuário do Visual Studio/VSCode
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
.idea/

# Arquivos temporários e backups
*.log
*.tmp
*.bak

# Configurações locais
*.vspscc
*.vssscc
*.dbmdl
*.pdb
*.cache
*.config
*.DS_Store
Thumbs.db

# Arquivos de pacotes
*.nupkg
*.snupkg
*.nuspec

# DocFX
docs/_site/
docs/api/

# Teste e cobertura
TestResults/
coverage/

# Outras pastas que podem ser ignoradas
Releases/
publish/